<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homaPage.css">
    <script src="/scripts/homePage.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
        <title>Homeify</title>
</head>
<body>

    <header>
        <%- include("./partial/nav-bar.ejs") %>
    </header>


  
    
 
    <div class="slider">
        <div class="slides">
          <div class="slide"><img src="/images/homePage-images/slide 1.jpg"></div>
          <div class="slide"><img src="/images/homePage-images/slide 2.jpg"></div>
          <div class="slide"><img src="/images/homePage-images/slide 3.jpg"></div>
          <div class="slide"><img src="/images/homePage-images/slide 4.jpg"></div>
        </div>
        <div class="bullets">
            <span class="bullet" data-index="0"></span>
            <span class="bullet" data-index="1"></span>
            <span class="bullet" data-index="2"></span>
            <span class="bullet" data-index="3"></span>
          </div>
      </div>

 
      <h2 class="slogan">Experience the Art of Living</h2>

   <!-- overview section -->   
   <section class="overview">
    <span class="section1">
        <img src="/images/homePage-images/bedroom.jpeg">
    <h2> BEDROOMS</h2>
<div >
    <p>Bedrooms available in various designs and<br>
         sizes to make your bedroom as special as it <br>should be. we offer a wide range of options <br>
         to suit your needs and preferences</p>
        </div>
    </span>

    <span class="section2">
        <img src="/images/homePage-images/living room.jpeg">
        <h2>LIVING ROOMS</h2>

        <div class=" paragraph">
            <p>Transform your living space into a sanctuary of comfort and style with our curated selection of furnishings and decor.
                 </p>
                </div>
    </span>
   </section>


   <section class="overview">
    <span class="section3">
     
        <h2>DINING ROOM</h2>
        <img src="/images/homePage-images/dinning room.jpeg">
        <div>
            <p>Elevate your dining experience with our exquisite <br>range of 
                dining room essentials. our collection is<br> designed
                 to inspire unforgettable gatherings.</p>
        </div>
    </span>

    <span class="section4">
        <h2>NIGHT STANDS</h2>
        <div>
            <p>Enhance your bedroom oasis with our <br>thoughtfully Choose from a variety of designs,<br> including sleek modern styles and classic<br> wooden
                 finishes.
                 selected nightstands. 
                
            </p>
        </div>
        <img src="/images/homePage-images/night stand.jpeg">
        
    </span>
   </section>
 
   <div class="new-products">
    
        <h2>WHAT'S NEW?</h2>
        <div class="card-container">
            <% const items = products.slice(0, 8); %>
            <% items.forEach((product, index) => { %> 
                <div class="card">
                    <img onclick="Details('detailsModal<%= index %>')" src="<%= product.image %>" alt="<%= product.name %>">
                    <h3 onclick="Details('detailsModal<%= index %>')"><%= product.name %></h3>
                    <h4>EGP <%= product.price %></h4>
                </div>
            <% }); %>
    </div>
    </div>
    
        <!-- Modal -->
    <% const Modals = products.slice(0, 8); %>
<% Modals.forEach((product, index) => { %>
    <div id="detailsModal<%= index %>" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('detailsModal<%= index %>')">&times;</span>
      
            <img src="<%= product.image %>" alt="<%= product.name %>">
          <div class="modal-info">
            <h2><%= product.name %></h2>
            <h4>EGP <%= product.price %></h4>
            <p>Category: <%= product.category %></p>
            <p>Material: <%= product.material %></p>
            <p>Colors: <%=product.colors%></p>
            <p>Components:</p>
         <ul class="components-ul">
            <% product.components.forEach(function(component) { %>  
           
            <li class="components-li">
                <%=component%>
            </li>
            <% }); %>
         </ul>
          <button>Add to Cart</button>
          </div>
        </div>
    </div>
<% }); %>
  
</body>
</html>